@using Common.Entities.Habits;
@using AppLog = Common.Entities.Logs.Log

<div class="modal fade show @Theme-modal" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
    <div class="modal-dialog @Theme-modal-dialog">
        <div class="modal-content @Theme-modal-content">
            <div class="modal-header @Theme-modal-header">
                <h4 class="modal-title">@SelectedLog.Name</h4>
                <button type="button" class="btn btn-danger @Theme-btn-danger" @onclick="@ModalCancel">&times;</button>
            </div>
            <div class="modal-body @Theme-modal-body">
                <p>Severity: @SelectedLog.Severity</p>
                <p>Last Seen: @SelectedLog.LastSeen</p>
                <p>Occurances: @SelectedLog.Occurances</p>
                <p>Area: @SelectedLog.Area</p>
                <p>Description: @SelectedLog.Description</p>
                <p>Details: @SelectedLog.Details</p>
            </div>
            <div class="modal-footer @Theme-modal-footer">
                <button type="button" class="btn btn-success @Theme-btn-success" @onclick=@ModalOk>Ok</button>
                <button type="button" class="btn btn-danger @Theme-btn-danger" @onclick=@ModalDelete>Delete</button>
            </div>
        </div>
    </div>
</div>